@page
@model ProfileModel
@{
    ViewData["Title"] = "Profile page";
}

<div class="text-center">
    <img src="~/user.png" class="m-bottom"/>
    <button type="button" class="m-bottom">Edit</button>
</div>