@page
@model BookReservationSystem.FE.Pages.User.ProfileView
@{
    ViewData["Title"] = "Profile View";
}

<div class="text-center">
    <img width="100" height="100" src="~/user.png" class="m-bottom"/>
    <button type="button" class="m-bottom">Edit</button>
</div>