@model ReviewModel

@{
    ViewData["Title"] = "Review";
}

<div class="row">
    <div class="col s12">
        @using (Html.BeginForm())
        {
            <h4>Review for</h4>
            <h3>Model.Book.Name</h3>

            <div class="row valign-wrapper">
                <div class="col s12 l4">Review Content:</div>
                <div class="input-field col s12 l8">
                    @Html.TextAreaFor(model => model.Content, 6, 100, new { placeholder = "How did you like this book?" }))
                </div>
            </div>
            <div class="row valign-wrapper">
                <div class="col s12 l4">Book Rating:</div>
                <div class="input-field col s12 l8">
                    @Html.DropDownListFor(model => model.Rating, Enumerable.Range(1, 10).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Confirm review" class="btn orange col s12" />
            </div>
        }
    </div>
</div>

<p>
    <a href='javascript:history.go(-1)'>Go back</a>
</p>