@page
@model BookReservationSystem.FE.Pages.Identity.Logout
@{
    ViewData["Title"] = "Logout";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        You have been logged out.
    </div>
</div>
