@{
    var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
    var qsPath = ViewContext.HttpContext.Request.QueryString.Value;
    var returnUrl = $"{routeUrl}{qsPath}";
}

<ul class="navbar-nav">
    @if (User.Identity is {IsAuthenticated: true })
    {
        <li class="nav-item">
            <a  class="nav-link text-dark" asp-controller="User" asp-action="Profile">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form  class="form-inline" asp-controller="Identity" asp-action="Logout" asp-route-returnUrl="~">
                <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Identity" asp-action="Register" asp-route-returnUrl="@returnUrl">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Identity" asp-action="Login" asp-route-returnUrl="@returnUrl">Login</a>
        </li>
    }
</ul>