@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="post" class="m-bottom">
        <input type="email" name="emailaddress" placeholder="Email">
    </form>
    <form method="post" class="m-bottom">
        <input type="password" name="password" placeholder="Password">
    </form>
    <button type="button" class="m-bottom">Log in</button>
    <button type="button" class="m-bottom">Sign in</button>
</div>
